p {
    margin: 0;
}


.container {
    max-width: 1000px;
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 315px;
    height: 200px;
    min-width: 300px;
    background-color: #8e44ad;
    margin: 10px;
    font-family: "Roboto Mono", monospace;
    color: #ffffff;
    border-radius: 10px;
    padding-left: 15px;
}

#imgchip {
    width: 50px;
    padding-top: 35px;
    margin-left: -5px;
}

#card-logo {
    width: 100px;
    height: 35px;
    margin-right: 20px;
    margin-top: -10px;
}
#card-num {
    font-weight: 200;
    font-size: 25px;
    margin-top: -5px;
}
#card-name {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 15px;
    font-family: monospace;
}



.date-val {
    display: flex;
    justify-content: space-between;
     
}

.card:nth-child(2) {
    background-color: #009432;
}

.card:nth-child(3) {
    background-color: #0652DD;
}

.card:nth-child(4) {
    background-color: #161617;
}

#val {
    font-size: 9px;
}

#val,
#date {
    font-family: 'Tahoma', sans-serif;
}