* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2 {
    margin-bottom: 10px;
    font-size: 36px;
    font-family: "Poppins", sans-serif;
    color: #222222;
    line-height: 1.2em ;
}

body {
    color: #777777;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
}

header {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.container{
    display: flex;
    justify-content: center;
    margin-left: 100px;
    max-width: 85%;
}

.context {
    max-width: 85%;
    
}

.box {
    display: flex;
    padding-left: 20px;
    gap: 30px;

    margin-bottom: 10px;
 
    text-align: left;
}

.info {
    display: flex;
    flex-wrap: wrap;
}

h6 {
    margin-bottom: 10px;
    font-size: 14px;
    color: #222222
  
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}






a{
    text-decoration: none;
    color: #007bff;
}

::selection {
    background-color: #fab700;
    color: #fff;}